.app {
    padding-top: 50px;
    border-left: 15px solid $black;
    border-right: 15px solid $black;
    padding: 50px 10px 0px 10px;
    min-height: 100vh;
    height: 100%;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: $container;
        width: 100%;
        margin: 0 auto;
        .homepage {
            width: 100%;
            &__kicker {
                transition: all 0.3s ease-out; margin-top: 25%;
                &__links {
                    padding: 15px 20px 15px 0px;
                    color: rgba($black, 0.6);
                    font-size: 20px;
                    font-weight: 300;
                    transition: color 0.3s ease-in;
                    &:hover { color: $black }
                }
            }
        }
    }
}
