nav {
    #trigger-modal {
        display: none;
        pointer-events: none;
        background-color: transparent;
        border: 2px solid $black;
        cursor: pointer;
        &:active , &:focus {
            outline: none;
            background-color: #eee;
        }
    }
    width: 100%;
    border-bottom: 5px solid #FAFAFA;
    padding: 0px 20px 5px 20px;
    margin-bottom: 20px;
    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 10px 15px;
        margin-right: 20px;
        color: #EEE;
        height: 100%;
        transition: color 0.3s ease-out;
        &:hover { color: #999  }
        &.active {
            color: $black;
            font-weight: $bold;
            &:after {
                display: block;
                height: 5px;
                position: absolute;
                bottom: -10px;
                left: 0; right: 0;
                background-color: $blue;
                content: ' ';
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .home {
        border: none;
        padding: 5px 15px;
    }
    nav {
        position: fixed;
        top: -100%; left: 0; right: 0;
        height: 100%;
        transition: all 0.3s ease-in-out;
        background-color: #333;
        padding: 20px;
        text-align: center;
        border-bottom: none;
        z-index: 9;
        display: flex;
        flex-direction: column;
        &.is-open {
            top: 0;
        }
        #trigger-modal {
            display: block;
            pointer-events: all;
        }
        &.is-open {
            top: 0;
        }
        a.active {color: #fff;}
        a {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            margin: 5px;
            color: $black;
            background-color: #FAFAFA;
            &.active {
                background-color: $blue;
                &:after {
                    content: none
                }
            }
        }
        button {
            flex: 1;
            margin: 5px;
        }
    }
}
