nav {
    width: 100%;
    border-bottom: 5px solid #FAFAFA;
    padding: 0px 20px 5px 20px;
    margin-bottom: 20px;
    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 10px 15px;
        margin-right: 20px;
        color: #EEE;
        height: 100%;
        transition: color 0.3s ease-out;
        &:hover { color: #999  }
        &.active {
            color: $black;
            font-weight: $bold;
            &:after {
                display: block;
                height: 5px;
                position: absolute;
                bottom: -10px;
                left: 0; right: 0;
                background-color: $light_green;
                content: ' ';
            }
        }
    }
}

@media screen and (max-width: 400px) {
    nav {
        position: fixed;
        bottom: 0; left: 0; right: 0;
        background-color: #333;
        padding: 20px;
        text-align: center;
        a {color: #fff;}
    }
}
